$body-bg: #05445E;
$main-color: #189AB4;
$txt-color: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$color-shadow-button:rgba(24, 154, 180, 0.30);

$header-height: 8rem;
$header-shrink-height: 5rem;
$boder-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
